
@-webkit-keyframes moverotate{
	0% {
		-webkit-transform: rotate(-25deg);
	}
	50%{
		-webkit-transform: rotate(25deg);
	}
	100%{
		-webkit-transform: rotate(-25deg);
	}

	-webkit-animation-fill-mode: forwards;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

#name {
	display: block;
	position: absolute;
	left: 1075px;
	top: 500px;
	font-family: Georgia;
	font-size: 3em;
	color: #fff;
	-webkit-transform: rotate(-25deg);
}

#description	 {
	display: block;
	position: absolute;
	left: 1250px;
	top: 590px;
	font-family: Georgia;
	font-size: 2em;
	color: #fff;
	-webkit-transform: rotate(-25deg);
}

#hire {
	display:block;
	position: absolute;
	left: 1250px;
	top: 610px;
	font-family: Georgia;
	font-size: 2.5em;
	color: #fff;
	-webkit-transform: rotate(-25deg);
}

.landing-text {
	-webkit-animation: moverotate 2s;
}

#landing {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: #ffffff url("../images/space.jpg") no-repeat scroll center center;
	background-size: cover;
	box-shadow: 0 25px 25px 0 #000;
	z-index: 10;
}

#about_me {
	position: absolute;
	top: 100%;
	min-width: 100%;
	min-height: 100%;
	background: #ffffff url("https://lh3.googleusercontent.com/Bm8yMShVaM3PMYzrwdH9NtQQ-LG5w_PDKhejOytXUvAo=w1451-h815-no") no-repeat scroll center center;
	background-size: cover;
	box-shadow: 0 25px 25px 0 #000;
	z-index: 9;
}

#aboutme {
	color: #fff;
	text-align: center;
	position: absolute;
	top: 490px;
	left: 450px;
	font-size: 2em;
}
#my_skills {
	position: absolute;
	top: 200%;
	min-width: 100%;
	min-height: 80%;
	box-shadow: 0 25px 25px 0 #000;
	z-index: 8;
}

h1 {
	position: absolute;
	top: 140px;
	left: 230px;
	background-color: #3366ff;
	color: #ffffff;
}



#skills{
	position: absolute;
	width: 200px;
	height: 220px;
	top: 200px;
	left: 250px;
}

h3 {
	position: absolute;
	display: inline;
	height: 23px;
	width: 180px;
	background-color: #3366ff;
	color: #ffffff;
	margin-bottom: 5px;
}

.angle {
	width: 0;
	height: 0;
	border-top: 23px solid #3366ff;
	border-right: 23px solid transparent;
	display: inline-block;
	margin-left: 180px;	
	margin-top: 19px;

}

#form {
	float: right;
	position: relative;
	right: 40px;
	top: 240px;
	width: 350px;
}

form fieldset {
	display: inline-block;
	float: right;
	position: relative;
	margin-bottom: 5px;
	border: 0;
}

#form span {
	top: -30px;
	width: 200px;
	left: -80px;
}

textarea {
	position: absolute;
	top: 210px;
	//left: -5px;
}

input #form_first {
	left: -20px;
}

footer {
	min-width: 100%;
	height: 100px;
	background-color: #000;
	color: #fff;
	position: fixed;
	bottom: 0;
	text-align: center;
}