Font Imports*/

/*Local Font, stored on host*/
@font-face {
  font-family: 'Typography Times';
  src: url('Typography_Times.eot'); /* IE9 Compat Modes */
  src: url('Typography_Times.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Typography_Times.woff2') format('woff2'), /* Super Modern Browsers */
       url('Typography_Times.woff') format('woff'), /* Pretty Modern Browsers */
       url('Typography_Times.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Typography_Times.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*If local font which is stored on computer doesn't work, should fall to this*/
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,600);

/*---End Font Imports---*/


body, html {
  overflow-x: hidden;
}
div {
  border: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.row {
  width: 100%;
}

/*---End of Global Variables---*/

#landing {
position: absolute;
width: 100%;
min-height: 100%;
margin: 0;
padding: 0;
border: 0;
background: #ffffff url("../images/riverbank.jpg") no-repeat scroll center center;
background-size: cover;
box-shadow: 0 25px 25px 0 #000;
z-index: 10;
}

#name {
display: block;
position: absolute;
//border-bottom: 2px solid #fff;
text-decoration: underline;
padding: -20px;
margin: -5px;
top: 45%;
left: 40%;
font-family: 'Typography Times', Georgia, Serif;
font-size: 3em;
color: #fff;
}

#description	 {
display: block;
position: absolute;
top: 50%;
left: 52.5%;
font-family: 'Typography Times', Georgia, Serif;
font-size: 2em;
color: #fff;
}

#hire {
display: inline;
position: relative;
//top: 93%;
//left: 85.5%;
margin-right: 5px;
font-family: 'Typography Times', Georgia, Serif;
font-size: 2.5em;
color: #fff;
}

.glyphicon-down-arrow {
  display: inline;
  position: relative;
  color: #fff;
  font-size: 1.5em;
  //top: 95%;
  //left: 95%;
}

.down-arrow-wrapper {
  position: absolute;
  right: 90px;
  bottom: 15px;
  text-align: right;
}

#menu-down:hover {
  cursor: pointer;
}

#menu-down-2:hover {
  cursor: pointer;
}

#about_me {
position: absolute;
top: 100%;
width: 100%;
min-height: 100%;
background: #ffffff url("https://lh3.googleusercontent.com/Bm8yMShVaM3PMYzrwdH9NtQQ-LG5w_PDKhejOytXUvAo=w1451-h815-no") no-repeat scroll center center;
background-size: cover;
box-shadow: 0 25px 25px 0 #000;
z-index: 9;
}

#aboutme {
color: #fff;
text-align: center;
position: relative;
background-color: #fff;
color: #000;
opacity: .5;
margin-top: 490px;
font-size: 2em;
font-family: 'Crimson Text', 'Typography Times', Georgia, Serif;
}

#my_skills {
position: absolute;
top: 200%;
border: 0;
margin: 0;
padding: 0;
left: 0;
width: 100%;
height: auto;
min-height: 100%;
box-shadow: 0 25px 25px 0 #000;
background-color: #CD6600;
background-size: 100%;
z-index: 7;
}

.bread-wrapper {
  display:inline-flex;
  position: relative;
  padding: 0;
  top: -5px;
  left: 135px;
}

.breadcrumb {
  padding: 0;
  color: #FFF;
  background-color: #CD6600;
}

.breadcrumb a,
.breadcrumb a:hover {
  color: #FFF;
  text-decoration: none;
}

.banner {
  position: absolute;
  right: 0;
  top: 15px;
	background-color: #388E8E;
	color: #ffffff;
	margin-bottom: 15px;
  font-size: 1.3em;
  padding: 12px;
	-webkit-box-shadow: -5px 5px 20px 2px #000000;
  font-family: 'Typography Times', Georgia, Serif;
}

.projects-wrapper {
  position: relative;
  margin-top: 110px;
  margin-left: 135px;
  padding-top: 20px;
  background-color: #8B4500;
  box-shadow: -2px 0 10px 5px #000;
}

.project-container {
  margin-bottom: 40px;
  margin-left: 45px;
  //padding: 20px;
  background-color: #3B3738;
  color: #fff;
  box-shadow: 5px 5px 10px 2px #000;
}

.project-img {
  width: 205px;
  height: 100px;
  margin: 20px 0 0 20px;
  box-shadow: 5px 5px 10px 2px #000;
}

.project-img:hover {
  cursor: pointer;
}

hr {
  width: 80%;
  margin-left: -15px;
}

.info {
  font-family: 'Typography Times', Georgia, Serif;
}

.img-modal-parent {
  min-width: 100%;
  min-height: 100%;
}

.modal {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.modal-dialog {
  min-width: 90%;
  max-width: 90%;
  height: auto;
  background-color: #000;
}

.modal-image {
  width: 90%;
  margin-left: 5%;
  height: auto;
}

table {
  position: relative;
  left: 17%;
}

#form-container {
  position: relative;
  //margin-top: 10%;
  left: -10%;
  height: 410px;
  padding: 12px;
  background-color: #fff;
  opacity: .8;
  border: 1px solid white;
}

form {
  position: relative;
  //left: 20%;
  //background-color: #fff;
  height: 425px;
  margin-top: 27%;
  z-index: 7;
}

input[type="text"] {
  padding: 4px;
  border: none;
  border-bottom: 2px solid #778899;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  outline: none;
  border-bottom: 2px solid #38B0DE;
}

textarea:focus {
  box-shadow: 0 0 10px 5px #38B0DE;
}

input[type="submit"] {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #388E8E;
}

input[name="phone"] {
  margin-bottom: 5px;
}

input[type="submit"]:focus,
input[type="submit"].focus {
  box-shadow: 0 0 10px 5px #388E8E;
}

form fieldset {
	display: inline-block;
	float: right;
	position: relative;
	margin-bottom: 5px;
	border: 0;
}

footer {
  position: fixed;
  margin-left: 15px;
  bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #3B3738;
	color: #fff;
	text-align: center;
  font-family: 'Typography Times', Georgia, Serif;
  font-size: 1.2em;
  box-shadow: 0 -5px 10px 5px #000000;
  z-index: 8;
}

footer a {
	text-decoration: none;
	color: white;
}

footer a:hover {
	color: #000000;
	background-color: #ffffff;
	border-radius: 5px;
}

footer div {
  position: relative;
  top: 15px;
}

/*Responsive Rules*/
@media screen and (max-width:1199px) {
  #my_skills {
    height: auto;
  }

  .projects-wrapper {
    margin-bottom: 120px;
  }
}

@media screen and (max-width:620px) {
  #tag {
    font-size: 0.85em;
  }
}
